{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v6.0&appId=186937896054617&autoLogAppEvents=1"></script>
<div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false"></div>

    <h1>Log-in</h1>
    {% if form.errors %}
        <p>Your username and password didn't match.Please try again.</p>
    {% else %}
        <p>Please, use the following form to log-in:</p>
    {% endif %}

    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{% url 'Notes:notes_list' %}" />
            <p><input type="submit" value="Log-in"></p>
        </form>
    </div>

    <div class="social">
        <ul>
         <li class="facebook"><a href="{% url "social:begin" "facebook" %}">
         Signin with Facebook</a></li>
         </ul>
    </div>
{% endblock %}