{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/main.css" %}" rel="stylesheet">
</head>

<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{your-app-id}',
      cookie     : true,
      xfbml      : true,
      version    : '{api-version}'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>Копировать код

{% block content %}{% endblock %}

<div id="info">
    <p>
    What is BlogNote? It is a small application - notebook for blogs. 
    You can easily write here your ideas, thinkings, new contacts, etc.
    We will carefully save it for you!
    </p>
</div>

<div id="navigation">
{% if request.user.is_authenticated %}
    <p>
    Hello {{ request.user }}! 
    </p>
    <p>
    Please see your <a href="{% url "Notes:notes_list" %}">notes</a>! You can logout <a href="{% url "logout" %}">here</a>.
    </p>
{% endif %}
</div>

</body>
</html>