{% extends "base.html" %}
{% block title %}New note input{% endblock %}

{% block info %}
{% endblock %}

{% block content %}
	{% if saved %}
	  <h1>Thank you!</h1>
	  <p>Note "{{ note.title }}" succsesfully saved at "{{ note.publish }}".</p>
	{% else %}
	  <h1>Write your note here! We will help you to remeber it! :-)</h1>
	  <form method="post">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <p>
	    <input type="submit" value="Save note">
	    </p>
	  </form>
	{% endif %}
{% endblock %}

{% block navigate %}
	{% if request.user.is_authenticated %}
                <p>
		Dear {{ request.user.first_name }}, you can simply add your new note here!
                </p>
                <p>
		Or you can go back to your notes <a href="{% url "Notes:notes_list" %}"> here </a>.
                </p>
                <p>
		If you are tired with memories - please <a href="{% url "logout" %}"> logout </a>.
                </p>
	{% else %}    
                <p>
		Please, <a href="{% url "login" %}">log-in</a>.
                </p>
                <p>
		You can also login with your VContacte account:
	        <a href="{% url "social:begin" "vk-oauth2" %}"> here </a>.
                </p>
	{% endif %}
{% endblock %}