{% extends "base.html" %}
{% block title %}
BlogNote start page. Welcome!
{% endblock %}

{% block info %}
<div id="info"></div>>
{% endblock %}

{% block content %}
    <p>
	What is BlogNote? It is a small application - notebook for blogs. 
    </p>
    <p>
	You can easily write here your ideas, thinkings, new contacts, etc.
	We will carefully save it for you!
    </p>
    <p>
        You can create "private" notes (only you will see it) and "public" notes
        (everybody will see it).
    </p>
{% endblock %}

{% block navigate %}
	{% if request.user.is_authenticated %}
                <p>
		        Hello {{ request.user.first_name }}, nice to see you again!
                </p>
                <p>
		        You can see you saved notes <a href="{% url "Notes:notes_list" %}"> here </a>.
                </p>
                <p>
		        Or you can <a href="{% url "logout" %}"> logout </a>.
                </p>
	{% else %}    
                <p>
                    Please, <a href="{% url "login" %}">log-in</a> (for testing only - login: <b>test</b>, password: <b>t1e2s3t4</b>.).
                </p>
                <p>
		        You can also login with your account from VK social network (vk.com):
	            <a href="{% url "social:begin" "vk-oauth2" %}"> here </a>.
                </p>
                <p>
		        If occasionally you still don't have you own account on BlogNote -
                please don't hesitate to create one <a href="{% url "register" %}">here</a>.
                </p>
	{% endif %}
{% endblock %}